/*  your css code here. If applicable */
:root{
	background: rgb(135, 206, 235);
}
p:first-child{
	background: #FFFFFF;
	color: #FFFFFF;
}
p:nth-child(2){
	color:#FFFFFF
}
p:last-child{
	color: #FF0000;
}
.ul-items{
	background-color:#808080;
	width:50%;
	padding:10px
}
ul:first-child{
		font-size:22px;
		background:#FFFFFF;
}
ul:last-child{
 background:#FFFFFF;
 font-size:22px;	
}	

ul:last{
	background:rgb(255,105,180);
}	


